html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

.sb-main-centered {
  #storybook-root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: auto;
  }
}

.sb-main-fullscreen {
  #storybook-root {
    width: 100%;
    height: 100%;
  }
}
