body {
  .sb-show-main.sb-main-centered {
    min-height: unset;
  }

  .sb-main-centered {
    #storybook-root {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      overflow: auto;
    }
  }

  &:not(.sb-main-centered ) {
    #storybook-root {
      height: 100vh;
    }
  }
}

